{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<section id="about-section">
    <h1>About Us</h1>
    <div class="about">

        <div class="left about-content">
            <h2>Mission</h2>
            <p>The mission of our cyber cafe is to provide a welcoming and secure environment where individuals can
                access
                high-quality internet services and technology resources. We aim to offer a range of amenities including
                high-speed internet access, printing, scanning, and PAN services to meet the diverse needs of our
                customers. Our
                goal is to foster digital inclusion and empowerment by providing affordable access to technology and
                information, thereby bridging the digital divide in our community. We are committed to maintaining a
                safe and
                comfortable space for our patrons while promoting digital literacy and responsible online behavior.
                Through
                exceptional customer service and continuous innovation, we strive to be the premier destination for
                internet and
                technology services in our area.</p>

        </div>
        <div class="right about-content">
            <h2>Vision</h2>
            <p>
                "Our vision is to create a dynamic and inclusive cyber cafe experience that serves as a hub for
                connectivity,
                innovation, and community engagement. We envision a space where individuals from all walks of life can
                come
                together to explore, learn, and connect in a safe and welcoming environment. Through our commitment to
                excellence and technological advancement, we aim to be the leading destination for digital empowerment,
                fostering a culture of lifelong learning and collaboration. By staying at the forefront of emerging
                trends and
                technologies, we aspire to continually enhance the cyber cafe experience and inspire positive change in
                our
                community and beyond."
            </p>
        </div>
    </div>
    </section>
{% endblock %}
