{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}
{% load static %} 

{% block content %}
<section class="contact-section">
    <form action="{% url 'contact_us' %}" class="contact-left" method="post">
        {% csrf_token %}
        <div class="contact-left-title">
            <h2>Get in touch</h2>
            <hr>
        </div>
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Your Name:</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Your Email:</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="{{ form.message.id_for_label }}">Your Message:</label>
            {{ form.message }}
        </div>
        <button type="submit" class="contact-btn">Submit</button>
    </form>
    <div class="contact-right">
        <img src="{% static 'images/contact-us.png' %}" alt="">
    </div>
    <div class="overview">
    </div>
</section>
{% endblock %}
