

{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}
{% load static %} 

{% block content %}
    <div class="container mt-5">
        <section class="contact-section">
            <form method="post" action="" class="row">
                {% csrf_token %}
                <div class="col-lg-6">
                    <div class="contact-left">
                        <div class="contact-left-title">
                            <h2>Get in touch</h2>
                            <hr>
                        </div>
                        <div class="form-group">
                            <label for="id_name">Your Name:</label>
                            <input type="text" name="name" id="id_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="id_email">Your Email:</label>
                            <input type="email" name="email" id="id_email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="id_message">Your Message:</label>
                            <textarea name="message" id="id_message" cols="30" rows="5" class="form-control"
                                placeholder="Type your message here..." required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-right">
                        <img src="{% static 'images/contact.avif' %}" alt="Contact Image">
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock %}
